<div
  class="circle-picker"
  style="
    width: 252px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-bottom: -14px;
  "
>
  <span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#f44336"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(244, 67, 54) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#e91e63"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(233, 30, 99) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#9c27b0"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(156, 39, 176) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#673ab7"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(103, 58, 183) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#3f51b5"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(63, 81, 181) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#2196f3"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(33, 150, 243) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#03a9f4"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(3, 169, 244) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#00bcd4"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(0, 188, 212) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#009688"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(0, 150, 136) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#4caf50"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(76, 175, 80) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#8bc34a"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(139, 195, 74) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#cddc39"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(205, 220, 57) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#ffeb3b"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(255, 235, 59) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#ffc107"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(255, 193, 7) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#ff9800"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(255, 152, 0) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#ff5722"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(255, 87, 34) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#795548"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(121, 85, 72) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div></span
  ><span
    ><div
      style="
        width: 28px;
        height: 28px;
        margin-right: 14px;
        margin-bottom: 14px;
        transform: scale(1);
        transition: transform 100ms ease 0s;
      "
    >
      <span
        ><div
          title="#607d8b"
          tabindex="0"
          style="
            background: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 50%;
            box-shadow: rgb(96, 125, 139) 0px 0px 0px 14px inset;
            transition: box-shadow 100ms ease 0s;
          "
        ></div
      ></span></div
  ></span>
</div>
