<article className='lg-card-frame'>
  <h4>{title}</h4>
  <div
      className='card-detail'
      style={{
          background: {background},
          border: `${borderColor} ${borderStyle}`,
      }}
  >
      <div className='lg-card-front'>
          <p className='outerMessage' style={{ 
              color: {fontColor},
              background: {background}
          }}>{outerMsg}</p>
      </div>
      <div className='lg-card-back'>
          <p className='innerMessage' style={{ color: fontColor }}>{innerMsg}</p>
      </div>
  </div>
</article>
