* {
  /* background: linear-gradient (#D97B73, #8E5849); */
  background-color: #d97b73;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-image: url('/public/cardiology-header.png');
  background-size: cover;
  height: 10em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav-bar button {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  cursor: pointer;
}

.login-out {
  padding: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.card-create {
  padding: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

/* CSS */
.button-1 {
  background-color: rgb(195, 91, 91);
  border-radius: 8px;
  /* border-style: ; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  /* list-style: none; */
  margin-bottom: 0.2em;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #86444a;
}

.box {
  border: 1px solid hsl(204, 86%, 53%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
